In [1]:
%load_ext zipline

In [2]:
import zipline
from zipline.data import data_portal
from pprint import pprint
import sqlite3

In [3]:
data = zipline.data.bundles.load('quantopian-quandl')

In [4]:
data.equity_daily_bar_reader.sessions

DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
               '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11',
               '1990-01-12', '1990-01-15',
               ...
               '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02',
               '2019-05-03', '2019-05-06', '2019-05-07', '2019-05-08',
               '2019-05-09', '2019-05-10'],
              dtype='datetime64[ns, UTC]', length=7398, freq='C')

In [5]:
table = data.asset_finder.equities

In [6]:
table.metadata.bind
# assets = table.metadata.tables['asset_router']
# assets.metadata.bind

Engine(sqlite:////home/stefan/.zipline/data/quantopian-quandl/2018-05-10T14;43;26.303687/assets-6.sqlite)

In [7]:
assets = table.metadata.tables['asset_router']
assets.metadata.bind

Engine(sqlite:////home/stefan/.zipline/data/quantopian-quandl/2018-05-10T14;43;26.303687/assets-6.sqlite)

In [9]:
pd.read_sql('equities', con=assets.metadata.bind).head()

,sid,asset_name,start_date,end_date,first_traded,auto_close_date,exchange,exchange_full
0,0,None,942883200000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
1,1,None,1477958400000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
2,2,None,1127779200000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
3,3,None,1355356800000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
4,4,None,463363200000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None

In [10]:
con = sqlite3.connect("/home/stefan/.zipline/data/quandl/2018-05-10T14;38;20.063950/assets-6.sqlite")
df = pd.read_sql("SELECT * from equities", con)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199 entries, 0 to 3198
Data columns (total 8 columns):
sid                3199 non-null int64
asset_name         0 non-null object
start_date         3199 non-null int64
end_date           3199 non-null int64
first_traded       3199 non-null int64
auto_close_date    3199 non-null int64
exchange           3199 non-null object
exchange_full      0 non-null object
dtypes: int64(5), object(3)
memory usage: 200.0+ KB

In [12]:
df.head()

,sid,asset_name,start_date,end_date,first_traded,auto_close_date,exchange,exchange_full
0,0,None,942883200000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
1,1,None,1477958400000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
2,2,None,1127779200000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
3,3,None,1355356800000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None
4,4,None,463363200000000000,1522108800000000000,-9223372036854775808,1522195200000000000,QUANDL,None

In [13]:
pprint([t for t in dir(table) if not t.startswith('_')])

['add_is_dependent_on',
 'alias',
 'append_column',
 'append_constraint',
 'append_ddl_listener',
 'argument_for',
 'bind',
 'c',
 'columns',
 'comment',
 'compare',
 'compile',
 'constraints',
 'correspond_on_equivalents',
 'corresponding_column',
 'count',
 'create',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'exists',
 'foreign_key_constraints',
 'foreign_keys',
 'fullname',
 'get_children',
 'implicit_returning',
 'indexes',
 'info',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'metadata',
 'name',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'quote',
 'quote_schema',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'supports_execution',
 'tablesample',
 'tometadata',
 'unique_params',
 'update']

In [14]:
table.columns

In [15]:
data_portal.DataPortal()

TypeError: __init__() missing 3 required positional arguments: 'asset_finder', 'trading_calendar', and 'first_trading_day'

In [16]:
!zipline bundles

csvdir <no ingestions>
quandl 2018-05-10 14:38:20.063950
quantopian-quandl 2018-05-10 14:43:26.303687